@tailwind base;
@tailwind components;
@tailwind utilities;

.App {
  background: rgb(237,224,250);
  background: linear-gradient(146deg, rgba(237,224,250,1) 0%, rgba(203,232,255,1) 29%, rgba(233,225,251,1) 58%, rgba(203,232,255,1) 91%);
  height: 100vh; 
}
.container {
  padding: 20px;
}

h1 {
  @apply text-3xl font-semibold mb-8;
}

h2 {
  @apply text-2xl font-semibold mb-6;
}

h3 {
  @apply text-xl font-semibold mb-4;
}

button {
  @apply px-4 py-2 text-white rounded bg-blue-500 hover:bg-blue-600;
}

ul {
  @apply list-none;
}

li {
  @apply mb-4;
}

label {
  @apply ml-2;
}

input[type="text"],
input[type="number"] {
  @apply px-4 py-2 text-sm rounded border border-gray-300 mb-4;
}

input[type="radio"] {
  @apply mr-2;
}

.quiz-item {
  @apply bg-white p-6 rounded mb-8;
}

.quiz-item h2 {
  @apply text-lg font-semibold mb-4;
}

.quiz-question {
  @apply mb-4;
}

.quiz-answers {
  @apply ml-4;
}

.quiz-answer {
  @apply mb-2;
}
